	<div id="logo"></div>
	<div id="top-nav">
		<a href="http://www.spongecell.com">HOME</a>&nbsp;
		<a href="http://gallery.spongecell.com">GALLERY</a>&nbsp;
		<a href="http://www.spongecell.com/about">ABOUT</a>&nbsp;
		<a class="selected" href="index.html">BUILD</a>&nbsp;
		<a href="http://www.spongecell.com/contact.html">CONNECT</a>
	</div>
	<br clear="all" />
	
	<!--horizontal rule-->
	<div style="float:left; margin: 30px auto 0px auto; height: 2px; 
	width: 1024px; background-color: #ccc; left:-50px;"><!-- --></div>
	
	<div id="main-nav">
	
		<% if @current_page_category == :build %>
			<%= link_to image_tag("Build_Nav/Build_Over.jpg"), "/resize", :id => "build" %>
		<% else %>
			<%= link_to image_tag("Build_Nav/Build_Off.jpg"), "/resize", :id => "build" %>
		<% end %>
		
		<% if @current_page_category == :feature %>
			<%= link_to image_tag("Build_Nav/Func_Over.jpg"), "/video", :id => "build" %>
		<% else %>
			<%= link_to image_tag("Build_Nav/Func_Off.jpg"), "/video", :id => "build" %>
		<% end %>
			
		<% if @current_page_category == :trafficking %>
			<%= link_to image_tag("Build_Nav/Live_Over.jpg"), "/site_direct", :id => "build" %>
		<% else %>
			<%= link_to image_tag("Build_Nav/Live_Off.jpg"), "/site_direct", :id => "build" %>
		<% end %>
	</div>