<nav id="features-nav">
		
	<%= link_to image_tag("Features_Nav/Video_Off.jpg"), video_path, :id => "video" %>
			
	<%= link_to image_tag("Features_Nav/Maps_Off.jpg"), maps_path, :id => "maps" %>	
	
	<%= link_to image_tag("Features_Nav/Coupons_Off.jpg"), coupons_path, :id => "coupons" %>
		
	<%= link_to image_tag("Features_Nav/Feeds_Off.jpg"), social_media_path, :id => "feeds" %>
	
	<%= link_to image_tag("Features_Nav/Galleries_Off.jpg"), galleries_path, :id => "galleries" %>
	
	<%= link_to image_tag("Features_Nav/LeadGen_Off.jpg"), lead_generation_path, :id => "leadgen" %>
	
</nav>
	
<div id="dotrule"></div>