<%= render 'shared/features_secondary_nav' %>

<div id="content" style="margin-top: 40px;">
	
	<div id="feature_content_left_box" style="float:left; width:400px;">
		<div class="feature-title" id="videotitle"></div>
		<h1>COUPONS</h1>
		<div id="bullets">
			<ul>
				<li>Deliver via SMS or email</li>
				<li>In-banner PDF download</li>
			</ul>
		</div>
		<div id="gallerylink">
			<a href="http://gallery.spongecell.com" target="new">see more in our gallery »</a>
		</div>
	</div>
		
	<div id="feature_content_right_box" style="float:right">
		<div id="demoads">
			<% @ad_id = 139613%>
			<% @ad_title = "Whole Foods" %>
			<%= render 'shared/ad_loader' %>
				<!--end placeholder-->
		</div><!--end demo ads-->
	</div><!--end box-->
	<br clear="all">
</div>

<div class="roundbox">
	<div class="roundbox_icon"><%= image_tag "icons/need_to_know_icon.png" %></div>
	
	<div class="headline" id="know">
		NEED TO KNOW
	</div>
		
	<div class="roundbox_icon"><%= image_tag "icons/best_practices_icon.png" %></div>
	<div class="headline" id="best">
		BEST PRACTICES
	</div>
		
	<div class="roundbox_icon"><%= image_tag "icons/assets_icon.png" %></div>
	<div class="headline" id="need">
		WHAT WE NEED
	</div>
		
	<div class="bulletbox" id="bulletbox1" style="clear:both;">
		<ul>
			<li>Consumers can send themselves a pre-formatted email and/or SMS text message containing a coupon directly from the banner. You can also download a PDF coupon directly from the banner. </li>
		</ul>
	</div>
		
	<div class="bulletbox" id="bulletbox2">
		<ul>
			<li>Be clear about future uses of contact information</li>
		</ul>
	</div>
		
	<div class="bulletbox" id="bulletbox3">
		<ul>
			<li>Copy for SMS message if coupon is sent to phone (under 159 characters).</li>
			<li>Subject line and Body copy for email.</li>
			<li>Rich HTML Formatted email can also be implemented (assets must be provided as a HTML file and should include full paths to hosted images or include images in a separate folder)</li>
			<li>PDF of coupon to be downloaded from ad unit.</li>
		</ul>
	</div>
</div>