<%= render 'shared/features_secondary_nav' %>

<div id="content" style="margin-top: 40px;">
	
	<div id="feature_content_left_box" style="float:left; width:400px;">
		<div class="feature-title" id="videotitle"></div>
		<h1>CAROUSELS</h1>
		<div id="bullets">
			<ul>
				<li>bullet one</li>
				<li>bullet one</li>
				<li>bullet one</li>
			</ul>
		</div>
		<div id="gallerylink">
			<a href="#" target="new">see more in our gallery »</a>
		</div>
	</div>
		
	<div id="feature_content_right_box" style="float:right">
		<div id="demoads">
			<% @ad_id = 265557%>
			<% @ad_title = "Precise" %>
			<%= render 'shared/ad_loader' %>
				<!--end placeholder-->
		</div><!--end demo ads-->
	</div><!--end box-->
	<br clear="all">
</div>

<div class="roundbox">
	<div class="roundbox_icon"><%= image_tag "icons/need_to_know_icon.png" %></div>
	
	<div class="headline" id="know">
		NEED TO KNOW
	</div>
		
	<div class="roundbox_icon"><%= image_tag "icons/best_practices_icon.png" %></div>
	<div class="headline" id="best">
		BEST PRACTICES
	</div>
		
	<div class="roundbox_icon"><%= image_tag "icons/assets_icon.png" %></div>
	<div class="headline" id="need">
		WHAT WE NEED
	</div>
		
	<div class="bulletbox" id="bulletbox1" style="clear:both;">
		<ul>
			<li>The carousel is a great way to showcase products, coupons and features to users</li>
		</ul>
	</div>
		
	<div class="bulletbox" id="bulletbox2">
		<ul>
			<li>It's best to highlight 3 to 5 items</li> 
			<li>include a clear call to action to click through</li>
			<li>prominent navigation</li>
		</ul>
	</div>
		
	<div class="bulletbox" id="bulletbox3">
		<ul>
			<li>Layout for each size</li> 
			<li>For each Carousel item:</li>
			<ul>
				<li>Title</li>
				<li>Description</li>
				<li>Images re-sized to fit layout</li>
				<li>Click through URL for each slide</li>
			</ul>
			<li>Deliver carousel layout as PSD, title, text and links in a spreadsheet, and images as PNGs or JPGs.</li>
		</ul>
	</div>
</div>