<%= render 'shared/features_secondary_nav' %>

<div id="content" style="margin-top: 40px;">
	
	<div id="feature_content_left_box" style="float:left; width:400px;">
		<div class="feature-title" id="videotitle"></div>
		<h1>LEAD GEN</h1>
		<div id="bullets">
			<ul>
				<li>Capture consumer data in-banner</li>
				<li>View in real-time</li>
				<li>Support sweepstakes, email signups and more</li>
			</ul>
		</div>
		<div id="gallerylink">
			<a href="http://gallery.spongecell.com" target="new">see more in our gallery »</a>
		</div>
	</div>
		
	<div id="feature_content_right_box" style="float:right">
		<div id="demoads">
			<% @ad_id = 251894 %>
			<% @ad_title = "Pampers" %>
			<%= render 'shared/ad_loader' %>
				<!--end placeholder-->
		</div><!--end demo ads-->
	</div><!--end box-->
	<br clear="all">
</div>

<div class="roundbox">
	<div class="roundbox_icon"><%= image_tag "icons/need_to_know_icon.png" %></div>
	
	<div class="headline" id="know">
		NEED TO KNOW
	</div>
		
	<div class="roundbox_icon"><%= image_tag "icons/best_practices_icon.png" %></div>
	<div class="headline" id="best">
		BEST PRACTICES
	</div>
		
	<div class="roundbox_icon"><%= image_tag "icons/assets_icon.png" %></div>
	<div class="headline" id="need">
		WHAT WE NEED
	</div>
		
	<div class="bulletbox" id="bulletbox1" style="clear:both;">
		<ul>
			<li>Your audience can opt-in to receive future messages via email and or SMS text from the banner. A great way to collect a variety of data (Email, Phone Number, Name, Address, and other information). Subscription is most effectively used when there is a strong incentive for the users to enter their information.</li>
		</ul>
	</div>
		
	<div class="bulletbox" id="bulletbox2">
		<ul>
			<li>Lead Generation is most effectively used when there is a strong incentive for the audience to enter their information</li>
			<li>Be clear on how addresses will be used. Reassure people with something like "We'll send you a monthly update and never share your information."</li>
		</ul>
	</div>
		
	<div class="bulletbox" id="bulletbox3">
		<ul>
			<li>Data to be collected</li>
			<li>Email confirmation</li>
			<ul>
				<li>Subject line and body copy for confirmation email</li>
				<li>HTML formatted email can also be implemented (assets must be provided as a HTML file and should include full paths to hosted images or include images in a separate folder)</li>
			</ul>
			<li>Mobile Confirmation</li>
			<ul>
				<li>Confirmation messages-160 characters long</li>
			</ul>
		</ul>
	</div>
</div>