<%= render 'shared/build_secondary_nav' %>

<div id="content">
	<div class="left_content" style="width:350px; float:left;">
	
		<div class="feature-title" id="content-title">
			<h2>WE RESIZE & BUILD</h2>
		</div>
			
		<div id="subhead">
			<p>
				Have pre built creative that needs to be resized to make room for Spongecell buttons? 
			</p>
		</div>
			
		<div id="stepone">
			<%= image_tag "icons/step_1.png", :class => "list_icon" %>
			<div class="list_text">
				We modify your existing creative to fit Spongecell.
			</div>
		</div>
			
		<div id="steptwo">
			<%= image_tag "icons/step_2.png", :class => "list_icon" %>
			<div class="list_text">
				We design or build subscreens based on assets provided.
			</div>
		</div>
		<h3>Turnaround Time</h3>
		<div id="turnaround" style="float:left; clear:left; margin-top:10px;">
			<%= image_tag "icons/clock_icon.png", :class => "list_icon" %>
			<div class="list_text">
				3-5 business days
			</div>
		</div>
	</div>

	<div id="video" 
		style="	float:right; 
				width:480px; 
				height: 270px; 
				background-color: 
				#cccccc; 
				margin-bottom: 30px;"
	>
			
	</div>
</div>
	
	
<!-- ROUNDBOX -->	
	
		<div class="roundbox_resize" style="margin-right: 10px; clear:both;">
		
			<div id="assetsicon"></div>
				
			<div class="headline">
				WHAT WE NEED
			</div>
		
			<div class="text_box" >
					<ul>
						<li>FLA file (in AS3) and all applicable fonts (we’ll need them to resize)</li>
					</ul>							
					<h3>
						ARE YOU DESIGNING SUBSCREENS?
					</h3>
					<ul>
						<li>Layered PSD files of your subscreen designs</li>
					</ul>							
					<h3>
						ARE WE DESIGNING SUBSCREENS?
					</h3>
					<ul>
						<li>Any raw assets you have (photos, logos, past creatives, etc)</li>
						<li>Creative documentation (briefs, style guides, etc)</li>
					</ul>
			</div>
		
		</div>
		
		
		<div class="roundbox_resize">

			<div id="besticon"></div>
			
			<div class="headline">
				PRO TIP
			</div>
		
			<div class="text_box left">
				<ul>
					<li>
						Our Photoshop templates make designing your subscreens a snap. Click a size to download.
					</li>
				</ul>
			</div>
			<%= image_tag "template_graphic.png", :style=>"float:right;" %>
			
			<div class="links">
				<a href="#" target="new">300x250</a> | 
				<a href="#" target="new">728x90</a> | 
				<a href="#" target="new">160x600</a>
			</div>
			
			<div id="template-icon"></div>
		</div>
	</div>
