<%= render 'shared/features_secondary_nav' %>

<div id="content" style="margin-top: 40px;">
	
	<div id="feature_content_left_box" style="float:left; width:400px;">
		<div class="feature-title" id="videotitle"></div>
		<h1>SOCIAL MEDIA</h1>
		<div id="bullets">
			<ul>
				<li>Drive to Facebook, Twitter, LinkedIn and more</li>
				<li>Pull in real-time Twitter and RSS feeds</li>
				<li>Tweet branded content from banner</li>
			</ul>
		</div>
		<div id="gallerylink">
			<a href="http://gallery.spongecell.com" target="new">see more in our gallery »</a>
		</div>
	</div>
		
	<div id="feature_content_right_box" style="float:right">
		<div id="demoads">
			<% @ad_id = 263274%>
			<% @ad_title = "Atlantis Resort" %>
			<%= render 'shared/ad_loader' %>
				<!--end placeholder-->
		</div><!--end demo ads-->
	</div><!--end box-->
	<br clear="all">
</div>

<div class="roundbox">
	<div class="roundbox_icon"><%= image_tag "icons/need_to_know_icon.png" %></div>
	
	<div class="headline" id="know">
		NEED TO KNOW
	</div>
		
	<div class="roundbox_icon"><%= image_tag "icons/best_practices_icon.png" %></div>
	<div class="headline" id="best">
		BEST PRACTICES
	</div>
		
	<div class="roundbox_icon"><%= image_tag "icons/assets_icon.png" %></div>
	<div class="headline" id="need">
		WHAT WE NEED
	</div>
		
	<div class="bulletbox" id="bulletbox1" style="clear:both;">
		<ul>
			<li>This functionality is an effective way to build your fan base on Facebook or Twitter by linking audiences directly with an existing page</li>
		</ul>
	</div>
		
	<div class="bulletbox" id="bulletbox2">
		<ul>
			<li>Use a call to action that provides incentive for the user to Like or Follow the brand. Special offers, contests, and giveaways are great ways to increase your fan base.</li>
			<li>NOTE: Facebook does not permit use of their standard "Like" button outside of their site. Please design an alternate CTA button for your ad.</li>
		</ul>
	</div>
		
	<div class="bulletbox" id="bulletbox3">
		<ul>
			<li>Spongecell Menu Button Text and Icon (icon is optional)</li>
			<li>URL to Facebook or Twitter page.</li>
		</ul>
	</div>
</div>