<%= render 'shared/build_secondary_nav' %>

<div id="content">
	<div class="left_content" style="width:390px; float:left;">
	
		<div class="feature-title" id="content-title">
			<h2 style="font-size:34px;">YOU DESIGN, WE BUILD</h2>
		</div>
			
		<div id="subhead">
			<p>
				Got great creative that’s resized and ready to implement into Spongecell? We’ll turn around a working ad in 72 hours!
			</p>
		</div>
			
		<div id="stepone">
			<%= image_tag "icons/step_1.png", :class => "list_icon" %>
			<div class="list_text">
				You provide us complete assets. See “What We Need”
below for a list of required assets.
			</div>
		</div>
			
		<div id="steptwo">
			<%= image_tag "icons/step_2.png", :class => "list_icon" %>
			<div class="list_text">
				We implement our features & interactivity according to your needs.
			</div>
		</div>
		<h3 style="clear:left;">Turnaround Time</h3>
		<div id="turnaround" style="float:left; clear:left; margin-top:10px;">
			<%= image_tag "icons/clock_icon.png", :class => "list_icon" %>
			<div class="list_text">
				72 hours
			</div>
		</div>
	</div>

	<div id="video" 
		style="	float:right; 
				width:480px; 
				height: 270px; 
				background-color: 
				#cccccc; 
				margin-bottom: 30px;"
	>
			
	</div>
</div>
	
	
<!-- ROUNDBOX -->	
	
		<div class="roundbox_resize we_build" style="margin-right: 10px; clear:both;">
		
			<div id="assetsicon"></div>
				
			<div class="headline">
				WHAT WE NEED
			</div>
		
			<div class="text_box" >
					<ul>
						<li>SWF file (AS3 please) for base creative</li>
						<li>Backup JPEG (served if the user does not have flash)</li>
						<li>Layered PSD files of your subscreen designs</li>
					</ul>
			</div>
		
		</div>
		
		
		<div class="roundbox_resize we_build">
			<div class="headline">
				PRO TIP
			</div>
		
			<div class="text_box left">
				<ul>
					<li>
						Our Photoshop templates make designing your subscreens a snap. Click a size to download.
					</li>
				</ul>
			</div>
			<%= image_tag "template_graphic.png", :style=>"float:right;" %>
			
			<div class="links">
				<a href="#" target="new">300x250</a> | 
				<a href="#" target="new">728x90</a> | 
				<a href="#" target="new">160x600</a>
			</div>
		</div>
	</div>
