<!DOCTYPE html>
<html>
<head>
  <title>SpongeBuild</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  
  <title>Build Dot Spongecell | Functionality Details</title>
</head>
<body>

<div id="header">
		<div id="colorbar">
		</div>
	</div>

	<div id="panelwrapper">
		<div style="position: absolute; height: 2px; width: 1024px; background-color: #ccc; top: 147px;"></div>

	
		<div id="logo"></div>
		
		<nav id="main-nav">
			<!--Build Your Ad-->
			<a href="#" ><%= image_tag "Build_Nav/Build_Over.jpg" %></a>
			
			<!--Functionality Details-->
			<!--onmouseout="MM_swapImgRestore()" 
			onmouseover="MM_swapImage('Func','','images/Build_Nav/Func_Over.jpg',1)"-->
			<a href="#"><%= image_tag "Build_Nav/Func_Off.jpg" %></a>
			
			<!--Get Your Ad Live-->
			<!--onmouseout="MM_swapImgRestore()" 
			onmouseover="MM_swapImage('Live','','images/Build_Nav/Live_Over.jpg',1)"-->
			<a href="#"><%= image_tag "Build_Nav/Live_Off.jpg" %></a>
		</nav>

<%= yield %>

<!--<div id="footer">
		<div style="position: relative; margin: 0 auto -45 auto; height: 2px; width: 1024px; background-color: #00FF00; bottom: 0px;"></div>
		<div id="copyright">
			&copy; 2011 Spongecell, LLC | 261 Madison Avenue, New York, NY 10016 | 212.220.8995 | contact@spongecell.com
		</div>
	</div>-->
		
	</div>

</body>
</html>
